.sidebar {
    width: 200px; /* Fixed width */
    background-color: #f6f5f0; /* Background color */
    border-radius: 8px;
    position: fixed; /* Fix the sidebar to the left of the screen */
    top: 56px; /* Offset by the height of the navbar */
    left: 0;
    bottom: 56px; /* Offset by the height of the footer */
    height: calc(100vh - 112px); /* Full height minus navbar and footer height */
    padding-top: 20px; /* Space for the top of the sidebar */
    z-index: 1; /* Ensure it stays below the navbar and footer */
    border-right: 2px solid #ccc; /* Add vertical line */
  }

  .main-content {
    margin-left: 200px; /* Leave space for the sidebar */
    margin-top: 0; /* No offset needed here */
    margin-bottom: 0; /* No offset needed here */
    flex-grow: 1; /* Ensure the main content takes up the remaining space */
    width: calc(100% - 200px); /* Ensure the main content fills the remaining width */
  }

  .nav-link {
    white-space: nowrap; /* Prevent text wrap */
  }

  .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
    text-decoration: none;
  }

  .nav-link i {
    font-size: 1.2rem; /* Adjust icon size */
  }
