.footer {
    z-index: 10; /* Ensure the footer stays above the sidebar */
    position: fixed; /* Fix the footer to the bottom */
    width: 100%; /* Full width */
    bottom: 0;
    background-color: #0d6efd; /* Primary color */
    height: 56px; /* Fixed height */
    line-height: 56px; /* Center text vertically */
    color: #ffffff; /* White text color */
    text-align: center; /* Center text horizontally */
  }

  .footer .container {
    display: flex; /* Flex display for alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    height: 100%; /* Full height of the footer */
  }
