.sidebar {
    width: 200px; /* Fixed width */
    background-color: #f8f9fa; /* Background color */
    border-radius: 8px;
    position: fixed; /* Fix the sidebar to the left of the screen */
    top: 56px; /* Offset by the height of the navbar */
    left: 0;
    bottom: 56px; /* Offset by the height of the footer */
    height: calc(100vh - 112px); /* Full height minus navbar and footer height */
    padding-top: 20px; /* Space for the top of the sidebar */
    z-index: 1; /* Ensure it stays below the navbar and footer */
  }

  .main-content {
    margin-left: 200px; /* Leave space for the sidebar */
  }

  .nav-link {
    white-space: nowrap; /* Prevent text wrap */
  }

  .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
    text-decoration: none;
  }

  .nav-link i {
    font-size: 1.2rem; /* Adjust icon size */
  }
