.sidebar {
    width: 200px; /* Fixed width */
    background-color: #f8f9fa; /* Background color */
    position: fixed; /* Fix the sidebar to the left of the screen */
    height: 100%; /* Full height */
    top: 0;
    left: 0;
    padding-top: 20px; /* Space for the top of the sidebar */
  }

  .main-content {
    margin-left: 200px; /* Leave space for the sidebar */
  }

  .nav-link {
    white-space: nowrap; /* Prevent text wrap */
  }

  .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
    text-decoration: none;
  }

  .nav-link i {
    font-size: 1.2rem; /* Adjust icon size */
  }
